p.encodes-container {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: #0d0d0d;
    padding: 10px;
    border: 1px solid #8d8b8b;
    border-radius: 4px;
    overflow-x: auto;
    font-weight: 800;
    color: #eee;
}

span.address {
    color: #d151d1;
}

span.opcode, span.funct, span.instr {
    color: #8e8eef;
}

span.opcode, span.instr {
    font-weight: bolder;
}

span.rd {
    color: #008000;
}

span.rt {
    color: #0bbf95;
}

span.rs {
    color: #60a1d2;
}

span.immediate, span.shamt {
    color: #da744f;
}

.big-modal {
    max-width: 90% !important;
    width: auto;
}

@media (prefers-color-scheme: light) {
    p.encodes-container {
        background-color: #f5f5f5;
        color: #111;
    }

    span.address {
        color: #800080;
    }

    span.opcode, span.funct, span.instr {
        color: #0000FF;
    }

    span.opcode, span.instr {
        font-weight: bolder;
    }

    span.rd {
        color: #008000;
    }

    span.rt {
        color: #0b89bf;
    }

    span.rs {
        color: #0f4f69;
    }

    span.immediate, span.shamt {
        color: #FF4500;
    }
}