:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #647eff;
  text-decoration: inherit;
}
a:hover {
  color: #2d37e8;
}

a.btn:hover, button.btn:hover {
  background-color: #103a6a;
  border-color: #054690;
}

a.btn, button.btn {
  background-color: #032c5a;
  border-color: #054690;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #191d24;
}

.error {
  color: #ff6b6b;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
