:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #191d24;
}

a {
  color: #4eaaff;
  text-decoration: none;
}
a:hover {
  color: #1a8cff;
  font-weight: 500;
}

a.btn, button.btn {
  background-color: #032c5a;
  border-color: #054690;
}
a.btn:hover, button.btn:hover {
  background-color: #103a6a;
  border-color: #054690;
}

sup {
  font-size: 0.5em;
  font-variant: small-caps;
  vertical-align: super;
  color: rgb(18, 164, 205);
}

.error {
  color: #ff6b6b;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

code {
    background-color: #2d3a4b;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    color: rgb(217, 98, 62);
}
